/* add styles here */

body {
  font: 1em Helvetica, sans-serif;
  background: #f5f5f5;
  padding: 0;
  margin: 0;
}


#header {
    background:-moz-linear-gradient(top, #1c86ee, #87ceff);
    background:-webkit-gradient(linear, left top, left bottom, from(#1c86ee), to(#87ceff));
    margin-bottom: 12px;
}

h1 {
    padding:4px;
    margin:0;
}

h1 a {
    color:#000000;
    text-decoration:none;
    text-shadow:#1874cd 1px 1px 1px;
}

h1 a:hover {
    color:#595959;
}

#account {
    float:right;
    margin: 12px 8px 0 0;
}

.cc-widget {
    border: 3px solid #a9a9a9;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #ffffff;
    padding: 8px;
    margin-bottom: 5px;
}

.clear {
    clear: both;
}

#main-area {
    float: left;
    width: 65%;
    margin-left: 4px;
}

#sidebar {
    float: right;
    width: 30%;
    margin-right: 4px;
}

input {
    border: 1px solid #404040;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#transaction fieldset {
    background-color: #f7f7f7;
    float: left;
    width: auto;
    padding: 6px;
    border: 1px solid;
    margin:0 5px 15px 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#transaction label {
    display: block;
    float: left;
    margin-right: 3px;
    text-align: right;
    width: auto;
}

#desc input {
    width: 350px;
}

#qty input {
    width: 110px;
}

#currency input {
    width: 60px;
}

