/* add styles here */

body {
  font: 12px Helvetica, sans-serif;
  background: #f5f5f5;
  padding: 0;
  margin: 0;
}


#header {
    margin-bottom: 12px;
}

h1 {
    padding:4px;
    margin:0;
}

h1 a {
    color:#000000;
    text-decoration:none;
    text-shadow:#ffffff 1px 1px 1px;
}

h1 a:hover {
    color:#595959;
}

#account {
    float:right;
    margin: 12px 8px 0 0;
}

.cc-widget {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #ffffff;
    padding: 5px;
    margin-bottom: 5px;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

#main-area {
    float: left;
    width: 65%;
    margin-left: 4px;
}

#sidebar {
    float: right;
    width: 30%;
    margin-right: 4px;
}

input {
    border: 1px solid #404040;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#transaction fieldset {
    background-color: #fafafa;
    float: left;
    width: auto;
    padding: 6px;
    border: 1px solid;
    margin:0 6px 8px 6px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#transaction label {
    display: block;
    float: left;
    margin-right: 3px;
    text-align: right;
    width: auto;
}

#desc input {
    width: 360px;
}

#qty input {
    width: 120px;
}

#currency input {
    width: 60px;
}
#trans-time input {
    width: 130px
}
#accounts ul {
    list-style-type: none;
    padding: 5px;
    margin: 0;
}
#accounts ul h3.equity {
    background: #FFFF99;
}
#accounts ul h3.asset {
    background: #99FFFF;
}
#accounts ul h3.liability {
    background: #FF9999;
}
#accounts ul h3.income {
    background: #99FF99;
}
#accounts ul h3.expense {
    background: #FF99FF;
}
#accounts ul div a.ui-icon {
   float:right;
   display: none;
}
#accounts ul div:hover a.ui-icon {
   display: block;
}